@using EventsApplication.Models
@model List<Event>


@{
    ViewBag.Title = "Home Page";
    ViewBag.HideNavBar = true;
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.js" ></script>
    <script type="text/javascript" src="~/Scripts/Self/Home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
@Styles.Render("~/Content/Home.css")
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <h2 id="titel" class="animated zoomInDown">EYECT4EVENTS</h2>
            <div class="list-group-item active">
                <h4 class="list-group-item-heading">Kies een evenement</h4>
            </div>
            <ul class="list-group">
                @foreach (Event e in @Model)
                {
                    <a href="#" class="list-group-item">@e.Naam<span class="glyphicon glyphicon-menu-right"></span></a>
                }
            </ul>
        </div>
    </div>
</div>
<div class="page-bg">
</div>
