
@using EventsApplication.Models
@model  EventsApplication.ViewModels.PostViewModel

@{
    ViewBag.Title = "Create";
}

@*<link href="@Url.Content("~/Content/tag.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/tag.js")"> </script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>

<link href="<?php echo base_url(); ?>public/tagsinput/bootstrap-tagsinput.css" rel="stylesheet">*@
<script src="~/Scripts/Self/Mediasharing.js"></script>

<hoi>hoi</hoi>

<div class="form-group">
    <label for="form2">Gebruikersnaam</label>
    <input type="text" id="form2" name="gebruikersnaam" class="form-control">

</div>

