@using System.Globalization
@using EventsApplication.Models
@model EventsApplication.ViewModels.BijdrageViewModel

<link rel="stylesheet" type="text/css" href="~/Content/Media.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>

<script src="~/Scripts/Self/Mediasharing.js"></script>

@{
    ViewBag.Title = "Index";
}

<div class="row overallview">
    <div class="col-md-4">
        <div class="sidebar-nav-fixed affix">
            <div class="well">
                <ul class="nav ">
                    <li>
                        <a href="#" id="ShowPosts">Tijdlijn</a>
                    </li>
                    <li>
                        <a href="#" id="ShowBijdragesByUserID">Mijn Posts</a>
                    </li>
                    <li>
                        <a href="#" id="CreateNewBericht">Nieuw Mediabericht</a>
                    </li>
                    <li>
                        <a href="#" id="CreateNewPost">Nieuw Bericht</a>
                    </li>
                    <li>
                        <a href="#" id="ShowAccount">Mijn Account</a>
                    </li>
                    @if (Model.account.Status == true)
                    {
                        <li>
                            <a href="#" id="Reportedposts">Reported posts</a>
                        </li>
                    }
                    
                    <li>
                        @Html.ActionLink("Uitloggen", "Logout", "Account")
                    </li>
                </ul>
            </div>
           
            <!--/.well -->
        </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
        <div id="loading">
            
        </div>
    </div>
    <div id="showPosts">

    </div>
</div>