@using System.Collections
@using EventsApplication.Models
@model EventsApplication.ViewModels.ReserveringViewModel
@{
    ViewBag.Title = "Reserveer";
    Event evenement = (Event)Session["event"];
    string start = evenement.Datumstart.ToString();
    string eind = evenement.Datumeind.ToString();
}
@Styles.Render("/content/home.css")
<head>
    <link href="~/Content/DateTime/bootstrap-datepicker3.min.css" rel="stylesheet" />
</head>
<h2>Reserveren</h2>
<hr />  
<div class="container">
    <div class="row">
        <h4 class="pull-left">1. Datum</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="datetime-container" class="container">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start"/>
                    <span class="input-group-addon">tot</span>
                    <input type="text" class="input-sm form-control" name="end"/>
                </div>
            </div>
            <div id="locatie-container" class="container">

            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <span class="pull-right"><a href="/reserveer/plaats" class="btn btn-primary" role="button">Volgende</a></span>
    </div>

</div>

 
<script>
    var jstart = new Date(Date.parse("@start"));
    var jeind = new Date(Date.parse("@eind"));

    console.log(jstart);
    console.log(jeind);

    $('.input-daterange').datepicker({
        format: "dd/mm/yyyy",
        language: "nl",
        autoclose: true,
        todayHighlight: true,
        startDate: jstart,
        endDate: jeind
    });
</script>