@using System.Collections
@using EventsApplication.Models
@model EventsApplication.ViewModels.ReserveringViewModel
@{
    ViewBag.Title = "Reserveer";
    string start = Model.Evenement.Datumstart.ToString();
    string eind = Model.Evenement.Datumeind.ToString();
}
<head>
    <link href="~/Content/DateTime/bootstrap-datepicker3.min.css" rel="stylesheet" />
</head>
<h2>Reserveren</h2>
<hr />  
<div class="container">
    <div class="row">
        <h4 class="pull-left">1. Datum</h4>
    </div>
    @using (Html.BeginForm("Index", "Reserveer", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <div id="datetime-container" class="container">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="start" id="start"/>
                        <span class="input-group-addon">tot</span>
                        <input type="text" class="input-sm form-control" name="end" id="end"/>
                    </div>
                </div>
                <div id="locatie-container" class="container">

                </div>
            </div>
        <div class="col-md-6">
            <p id="popup" class="hidden">Datum mag niet leeg zijn</p>
        </div>
        </div>
        <hr/>
        <div class="row">
            <span class="pull-right"><input type="submit" name="submitbutton" value="Volgende" class="btn btn-primary" id="nextbutton" /></span>
        </div>
    }
</div>

 
<script>
    var jstart = new Date(Date.parse("@start"));
    var jeind = new Date(Date.parse("@eind"));

    console.log(jstart);
    console.log(jeind);

    $('.input-daterange').datepicker({
        format: "dd/mm/yyyy",
        language: "nl",
        autoclose: true,
        todayHighlight: true,
        startDate: jstart,
        endDate: jeind,
    });

    $('#nextbutton').click(function (event) {
        if ($('#start').val() === "" || $('#end').val() === "") {
            event.preventDefault();
            $('#popup').removeClass('hidden');
        }
    });

    
</script>