@using System.Collections
@using EventsApplication.Models
@{
    ViewBag.Title = "Reserveer";
    Event evenement = (Event)Session["event"];
    string start = evenement.Datumstart.ToString();
    string eind = evenement.Datumeind.ToString();
}
<head>

    <link href="~/Content/DateTime/bootstrap-datepicker3.min.css" rel="stylesheet" />
</head>

<h2>Reserveren</h2>
<hr />

<div class="container">
    <div class="col-md-6">
        <div id="datetime-container" class="container">
            <h4>1. Datum</h4>
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="start"/>
                <span class="input-group-addon">tot</span>
                <input type="text" class="input-sm form-control" name="end"/>
            </div>
        </div>
        <div id="locatie-container" class="container">
            
        </div>
    </div>
    <div class="col-md-6">
        <h4>2. Staanplaats</h4>
        <select id="firstDd" multiple class="selectpicker" title="Kenmerken">
            <option value="comfort">Comfortplek</option>
            <option value="kraan">Kraan beschikbaar</option>
            <option value="handicap">Handicap geschikt</option>
        </select >

        <select id="secondDd" multiple class="selectpicker" title="Plaatsen">>
            <option value="plek1" data-display-on="comfort,kraan">Plek 1</option>
            <option value="plek2" data-display-on="kraan">Plek 2</option>
            <option value="plek3" data-display-on="kraan">Plek 3</option>
            <option value="plek4" data-display-on="comfort">Plek 4</option>
            @foreach (Standplaats s in (List<Standplaats>)ViewData["standplaatsen"])
            {
                <option value="s." data-display-on="comfort">Plek 4</option>
            }
        </select >
    </div>
</div>

 
<script>
    var jstart = new Date(Date.parse("@start"));
    var jeind = new Date(Date.parse("@eind"));

    console.log(jstart);
    console.log(jeind);

    $('.input-daterange').datepicker({
        format: "dd/mm/yyyy",
        language: "nl",
        autoclose: true,
        todayHighlight: true,
        startDate: jstart,
        endDate: jeind
    });



</script>