@using System.Collections
@using EventsApplication.Models
@model EventsApplication.ViewModels.ReserveringViewModel
@{
    ViewBag.Title = "Reserveer";
}
<head>
    <link href="~/Content/DateTime/bootstrap-datepicker3.min.css" rel="stylesheet" />
</head>
<h2>Reserveren</h2>
<hr />  
<div class="container">
    @using (Html.BeginForm("Plaats", "Reserveer", FormMethod.Post))
    {
        <div class="row">
            <h4 class="pull-left">2. Staanplaats</h4>
        </div>
        <div class="row">
            <div class="col-md-5">
                <select id="firstDd" class="selectpicker" title="Kenmerken">
                    <option activated value="" data-display-on="">Geen</option>
                    <option value="comfort">Comfortplek</option>
                    <option value="kraan">Kraan beschikbaar</option>
                    <option value="handicap">Handicap geschikt</option>
                </select>

                <select id="secondDd" name="Plaatsen" multiple class="selectpicker" title="Plaatsen">
                    @foreach (Standplaats plaats in ViewData["plaatsen"] as IEnumerable<Standplaats>)
                    {
                        string displayon = "";
                        if (plaats.Comfortplek)
                        {
                            displayon = "comfort";
                        }
                        if (plaats.Handicapbeschikbaar)
                        {
                            displayon = "handicap";
                        }
                        if (plaats.Kraanbeschikbaar)
                        {
                            displayon = "kraan";
                        }
                        <option value="@plaats.Id" data-display-on="@displayon">Plek @plaats.Plaatsnummer | €@plaats.Prijs | @plaats.Capaciteit Pers</option>
                    }
                </select>
            </div>
            <div class="col-md-7">
                <p id="popup" class="hidden">Plaats mag niet leeg zijn</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <span class="pull-left"><a href="/reserveer" class="btn btn-primary" role="button">Vorige</a></span>
            <span class="pull-right"><input type="submit" name="submitbutton" value="Volgende" class="btn btn-primary" id="nextbutton" /></span>
        </div>
    }
</div>

<script>
    $('#nextbutton').click(function (event) {
        if (!$('#secondDd').val()) {
            event.preventDefault();
            $('#popup').removeClass('hidden');
        }
    });


</script>