@using System.Collections
@using EventsApplication.Models
@model EventsApplication.ViewModels.ReserveringViewModel
@{
    ViewBag.Title = "Reserveer";
    Event evenement = (Event)Session["event"];
    string start = evenement.Datumstart.ToString();
    string eind = evenement.Datumeind.ToString();
}
@Styles.Render("/content/home.css")
<head>
    <link href="~/Content/DateTime/bootstrap-datepicker3.min.css" rel="stylesheet" />
</head>
<h2>Reserveren</h2>
<hr />  
<div class="container">
    <div class="row">
        <h4 class="pull-left">2. Staanplaats</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <select id="firstDb" class="selectpicker" title="Kenmerken">
                <option value="" activated>Geen</option>
                <option value="comfort">Comfortplek</option>
                <option value="kraan">Kraan beschikbaar</option>
                <option value="handicap">Handicap geschikt</option>
            </select>

            <select id="secondDb" multiple class="selectpicker" title="Plaatsen">
                <option value="plek1" data-display-on="1,comfort">Plek 1</option>
                <option value="plek2" data-display-on="1,kraan">Plek 2</option>
                <option value="plek3" data-display-on="3,kraan">Plek 3</option>
                <option value="plek4" data-display-on="2,comfort">Plek 4</option>
            </select>
        </div>
    </div>
    <hr/>
    <div class="row">
        <span class="pull-left"><a href="/reserveer" class="btn btn-primary" role="button">Vorige</a></span>
        <span class="pull-right"><a href="/reserveer/gegevens" class="btn btn-primary" role="button">Volgende</a></span>
    </div>
</div>

