
@{
    ViewBag.Title = "HostingHome";
}

<h2>HostingHome</h2>


<div class="form-group">
    <div class="col-md-12">
        <button type="button" onclick="location.href='@Url.Action("EventIndex")'">Overzicht van alle events</button>
    </div>

</div>



<div class="form-group">
    <div class="col-md-12">
        <button type="button" onclick="location.href='@Url.Action("LocatieIndex")'">Overzicht van alle locaties</button>
    </div>

</div>


<div class="form-group">
    <div class="col-md-12">
        <button type="button" onclick="location.href='@Url.Action("AccountIndex")'">Overzicht van alle accounts</button>
    </div>

</div>

<div class="form-group">
    <div class="col-md-12">
        <button type="button" onclick="location.href='@Url.Action("ProductIndex")'">Overzicht van alle producten</button>
    </div>

</div>


