@using EventsApplication.ViewModels
@using EventsApplication.Models
@model List<EventsApplication.ViewModels.AccountViewModel>
    @{
    ViewBag.Title = "Aanwezige bezoekers";
}

<h2>Aanwezige bezoekers</h2>

<table class="table">
    <tr>
        <th>
            Gebruikersnaam
        </th>
        <th>
            Telefoonnummer
        </th>
        <th>
            Aanwezig
        </th>

        <th></th>
    </tr>

    @foreach (AccountViewModel account in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => account.Account.Gebruikersnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => account.Account.Telefoonnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => account.Polsbandje.Aanwezig)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = account.Account.Id })
            </td>
        </tr>
    }

</table>