@model IEnumerable<EventsApplication.Models.Account>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="../Content/bootstrap.css"/>

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            ONE
        </div>
        <div class="col-xs-4">
            TWO
        </div>
        <div class="col-xs-4">
            Three
        </div>
    </div>
</div>
